$effect: ease-out;
$eta: 0.3s;
$lineHeight: 18px;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
highlighter-tooltip {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  background-color: slategray;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 12px;
  transition: all $effect $eta;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;

  &:before {
    content: '';
    display: inline-block;
    transition: width $effect $eta, margin $effect $eta;
    height: $lineHeight*0.75;
    width: 0;
    vertical-align: middle;
    background: url("loading.png") no-repeat center / cover;
    animation: rotate 3s infinite linear;
    margin-top: -2px;
  }

  &.loading {
    pointer-events: none !important;
    &:before {
      width: $lineHeight*0.75;
      margin-right: 7px;
    }
  }
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
